/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

html {
  padding: auto;
  margin : 0;
}

.filebox .upload-name {
  display: inline-block;
  height: 40px;
  padding: 0 10px;
  vertical-align: middle;
  border: 1px solid #dddddd;
  width: 50%;
  color: #999999;
}

.filebox label {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  vertical-align: middle;
  background-color: #3f3c3c;
  cursor: pointer;
  height: 20px;
  margin-left: 10px;
}

.filebox input[type="file"] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}

.MuiSpeedDial-action{

 background-color: black;
}

.MuiSpeedDial-actionsClosed{
  background-color: black;
}

.MuiSpeedDial-fab{
  background-color: black;
}

.card_myPage {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  width: 90%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.css-1ujykiq-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: black;
}

.css-1aquho2-MuiTabs-indicator{
  background-color: black;
}